<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 200 32"
     width="300"
     height="60">
  <defs>
    <filter id="f-shadow" x="-50%" y="-50%" width="200%" height="200%">
      <feOffset dx="1" dy="1" result="off"/>
      <feGaussianBlur in="off" stdDeviation="1" result="blur"/>
      <feBlend in="SourceGraphic" in2="blur" mode="normal"/>
    </filter>
  </defs>

  <text x="50%" y="75%"
        font-family="'Source Code Pro', monospace"
        font-weight="600"
        font-size="33.8667px"
        text-anchor="middle"
        filter="url(#f-shadow)">
    <tspan fill="#60a5fa" letter-spacing="-1.05833px">rickshf</tspan>
  </text>
</svg>
